.panda_header {
	color: white;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 138px;
	opacity: 1;
	background-color: black;
}

h1{
	font-size: 80px;
	margin-top: 0;
    margin-bottom: 10px;
}

#headerimageleft {
	display: inline;
	width: 80px;
	float: left;
	padding-left: 140px;
	padding-top: 14px;
}

#headerimageright {
	display: inline;
	width: 80px;
	float: right;
	padding-right: 140px;
	padding-top: 10px;
}

body {
	width: 100%;
	background-color: black;
	padding-top: 150px;
}

.content {
	width: 60%;
	color: white;
	margin-left: auto;
	margin-right: auto;
	height: 800px;
	text-align: center;
	line-height: 18px;
	font-size: 20px;
}

button {
	float: left;
	background-color: red;
	color: white;
	font-weight: bold;
	display: block;
	width: 12%;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 1px;
}

.navMenuLI {
	list-style: none;
	float: left;
	/*margin: 0px 50px;*/
	width: 33%;
}

.navMenuUL {
	/*border: 2px solid white;*/
	float: left;
	width: 84%;
	overflow: hidden;
	font-weight: bold;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 0px;
	margin-right: 0px;
	text-align: center;
}

.defaultHidden { 
	/*defaults the navigation menu to be hidden when it is first loaded*/
	display: none;
}

.navMenu {
	vertical-align: center;
	width: 99%;
	overflow: hidden;
	border: 2px solid white;
	top: 0px;
}

#toggleContentOnClick {

}

.white {
	color: white;
}

.putBelowNavMenu {
	margin-top: 0px;
	z-index: -1;
	/*overflow: auto;*/
}


/*
.keepAtTop{
	/*position: absolute;*/
	/*position: fixed;
	width: 100%;
	height: 100px;
	z-index: 1000;
	opacity: 1;
	background-color: black;
	margin-top: 0px;
	padding-top: 0px;	
	margin-top: -16px;

}*/

/*nav{
	color: red;
}*/

/*.contentWrapper{
	padding-top: 120px;
}*/

/*.indexBody{
	background-color: black;
}*/